body {
    background-color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    font-size: 20px;
}

a {
    display:inline-block;
    color: black;
    text-decoration:none;
}

a:visited {
    color: #666;
}

a:hover {
    color: #000;
    opacity: 70%;
}

div {
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    background-color: wheat;
}

input[type=text] {
    font-family:inherit;
    font-size: inherit;
    align-self: center;
    width:90%;
    margin: 10px 0;
    resize: vertical;
    padding:15px;
    border-radius:15px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
    height:50px;
}

textarea {
    font-family:inherit;
    font-size: inherit;
    align-self: center;
    width:90%;
    margin: 10px 0;
    resize: vertical;
    padding:15px;
    border-radius:15px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
    height:50%;
}

button {
    border-radius: 5px;
    font-family: inherit;
    font-size: inherit;
    width: auto;
    height: auto;
}

button:hover {
    background-color: aliceblue;
}